---
const yr = new Date().getFullYear();
---

<footer data-bottom>
  <div class="shell">
    <div data-bottom-top>
      <div data-bottom-brand>
        <strong>AerConditionat<b>Beko</b></strong>
        <p>Specificatii, comparatii si pareri despre aparatele de aer conditionat Beko vandute in Romania.</p>
      </div>
      <div data-bottom-nav>
        <div data-bottom-col>
          <h4>Categorii</h4>
          <ul>
            <li><a href="/aparate-aer-conditionat/">Aparate AC</a></li>
            <li><a href="/instalare-montaj/">Instalare</a></li>
            <li><a href="/intretinere-curatare/">Intretinere</a></li>
            <li><a href="/eficienta-energetica/">Eficienta</a></li>
            <li><a href="/ghiduri-sfaturi/">Sfaturi</a></li>
          </ul>
        </div>
        <div data-bottom-col>
          <h4>Legal</h4>
          <ul>
            <li><a href="/politica-de-confidentialitate/">Confidentialitate</a></li>
            <li><a href="/termeni-si-conditii/">Termeni</a></li>
            <li><a href="/politica-cookies/">Cookies</a></li>
            <li><a href="/disclaimer-afiliere/">Disclaimer</a></li>
          </ul>
        </div>
        <div data-bottom-col>
          <h4>Util</h4>
          <ul>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="/sitemap_index.xml">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div data-bottom-copy>
      &copy; {yr} AerConditionatBeko.ro &mdash; Toate drepturile rezervate. | <a href="https://ofertatelefoane.ro/">Top Telefoane 2026</a>
    </div>
  </div>
</footer>
